{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="content text-center mt-4">
<h1>Hi! I'm Anupama Kumari Pradhan</h1>
<p>Hey! I'm Anupama Kumari Pradhan. I am from Chakradharpur, Jharkhand.I am a full stack developer,</p>
<button type="button" class="btn btn-primary">Enroll me</button>
</div>
<div class="text-center mt-4">
    <img src="{% static 'portfolio/images/img1.jpeg' %}" class="rounded" alt="..." height="300px">
  </div>
{% endblock content %}